@import "variables";

.PanelClass {
    font-size: $font-size;
    font-family: $font-family;
    background-color: $bg-color;
    color: $fg-color;
    padding: 8px;
};

.PanelText {
    font-size: $font-size + 16;
};

.DemoResultsBox {
	border: 1px solid black;
	padding: 5px;
	height: 300px;
    overflow: auto;
    color: black;
    background-color: white;
};